@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RobotoMono';
  src: url('/Roboto-Mono.ttf') format('truetype');
}

/* ============== Paddings and stuff ============== */

main {
  padding-top: 0rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
}

/* sm */
@media (min-width: 640px) {
  main {
    padding-top: 0rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/* md */
@media (min-width: 768px) {
  main {
    padding-top: 0rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/* xl */
@media (min-width: 1280px) { 
  main {
    padding-top: 0rem;
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

/* 2xl */
@media (min-width: 1536px) { 
  main {
    padding-top: 4rem;
    padding-left: 24rem;
    padding-right: 24rem;
  }
}

@media (min-width: 2000px) { 
  main {
    padding-top: 6rem;
    padding-left: 32rem;
    padding-right: 32rem;
  }
}

body {
  /* background-color: rgb(25, 1, 1); */
  /* background-image: url('/bg-2.svg'); */
  /* color: white; */
  background-size: cover;
  font-family: 'RobotoMono', sans-serif;
  font-size: 14px;
  font-weight: 350;
}


h1 {
  font-family: 'RobotoMono', sans-serif;
  font-size: 3rem;
  font-variation-settings: "wght" 800;
}

h2 {
  font-family: 'RobotoMono';
  font-size: 1.5rem;
  font-variation-settings: "wght" 600;
}

h3 {
    font-family: 'RobotoMono';
    font-size: 1rem;
    font-variation-settings: "wght" 500;
}

h4 {
  font-family: 'RobotoMono';
  font-size: 1rem;
  font-variation-settings: "wght" 500;
}

sub {
  font-size: small;
  font-variation-settings: "wght" 300;
}

/* ============== XL screens =============== */

/* body {
  font-size: medium;
}
h1 {
  font-size: 3.1rem;
}
h2 {
  font-size: x-large;
}
h3 {
  font-size: large;
}
h4 {
  font-size: medium;
} */


/* Lists & Paragraphs */

ul {
  list-style-type: disc;
  list-style-position: inside;
}

/* Links, Images, etc. */

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

Link, a {
  color:cornflowerblue;
}

Link, a:hover {
  color:rgb(127, 172, 255);
}

Link, a:active {
  color: blue;
}

/* credit: tobiasahlin.com/blog/css-trick-animating-link-underlines */
.special-underline {
  position: relative;
  text-decoration: none;
}

.special-underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.15em;
  bottom: 0.0em;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.5s ease-in-out;
}

.special-underline:hover::before {
  transform: scaleX(1);
}
