@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-Black';
  src: url('/Raleway-Black.ttf') format('truetype');
}

/* Main stuff */

body {
  /* background-color: rgb(16, 16, 16); */
  background-image: url('/bg.svg');
  background-size: cover;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

h1 {
  font-family: 'Raleway';
  font-size: xxx-large;
  font-variation-settings: "wght" 750;
}

h2 {
  font-family: 'Raleway';
  font-size: x-large;
  font-variation-settings: "wght" 700;
}

h3 {
  font-family: 'Raleway';
  font-size: large;
  font-variation-settings: "wght" 500;
}

/* Lists & Paragraphs */

ul {
  list-style-type: disc;
  list-style-position: inside;
}

/* Links, Images, etc. */

Link, a {
  color:cornflowerblue;
}

Link, a:hover {
  color:rgb(127, 172, 255);
}

Link, a:active {
  color: blue;
}

main {
  padding-top: 0rem;
  padding-inline: 12rem;
}

/* Tooltip Container */
.tooltip {
  position: relative;
  display: inline-block;
  z-index: 1;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: small;
  position: absolute;
  z-index: 80;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  bottom: -40%;
  left: -16%;
}


/*
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
} */
