@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RobotoMono';
  src: url('/Roboto-Mono.ttf') format('truetype');
}

/* ============== Paddings and stuff ============== */

main {
  padding-top: 0rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 253, 245);
}

body {
  /* background-color: rgb(25, 1, 1); */
  /* background-image: url('/bg-2.svg'); */
  /* color: white; */
  background-size: cover;
  font-family: 'RobotoMono', sans-serif;
  font-size: 14px;
  font-weight: 350;
}


h1 {
  font-family: 'RobotoMono', sans-serif;
  font-size: 3rem;
  font-variation-settings: "wght" 800;
  text-align: start;
}

h2 {
  font-family: 'RobotoMono';
  font-size: 1.5rem;
  font-variation-settings: "wght" 600;
}

h3 {
    font-family: 'RobotoMono';
    font-size: 1rem;
    font-variation-settings: "wght" 500;
}

h4 {
  font-family: 'RobotoMono';
  font-size: 1rem;
  font-variation-settings: "wght" 500;
}

sub {
  font-size: small;
  font-variation-settings: "wght" 300;
}

/* Lists & Paragraphs */

ul {
  list-style-type: disc;
  list-style-position: inside;
}

/* Links, Images, etc. */

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

Link, a {
  color:cornflowerblue;
}

Link, a:hover {
  color:rgb(127, 172, 255);
}

Link, a:active {
  color: blue;
}

/* credit: tobiasahlin.com/blog/css-trick-animating-link-underlines */
.special-underline {
  position: relative;
  text-decoration: none;
}

.special-underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.15em;
  bottom: 0.0em;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.5s ease-in-out;
}

.special-underline:hover::before {
  transform: scaleX(1);
}

/* .special-card {
  border: rgb(185, 185, 185) 1px solid;
  transition: transform 1s;
}

.special-card:hover {
  transform: translate(-6px, -6px);
} */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(240, 240, 240, 0.9);
  color: black;
  text-align: start;
  padding: 4px 4px;
  border-radius: 4px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 100;
  left: -5px;
  top: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
